<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="Test" connectionString="Data Source=(local);Initial Catalog=Test;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="maxNumber" value="1000000"/>
    <add key="numberOfAccountBuckets" value="100000"/>
    <add key="numberOfMessages" value="10000"/>
    <add key="numberOfWorkers" value="100"/>
    <add key="commandTimeoutInSeconds" value="120"/>
    <add key="delayInSeconds" value="0"/>
    <add key="numberOfChaosPoints" value="0"/>
  </appSettings>
  
</configuration>